<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.ipa.shellent.dao.EntinfoDao">

    <sql id="BASE_COLUMN">
          Id,EntId, EntName,CreditCode,RegNo,EntStatus,EmptyShellContent,CreateTime,UpdateTime
    </sql>

    <sql id="BASE_TABLE">
  	  IDX_EMPTY_SHELL_TEMP_EntId
    </sql>

    <insert id="addOne" parameterType="com.icbc.ipa.shellent.model.Entinfo">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="EntId != null">
                EntId,
            </if>
            <if test="EntName != null">
                EntName,
            </if>
            <if test="CreditCode != null">
                CreditCode,
            </if>
            <if test="RegNo != null">
                RegNo,
            </if>
            <if test="EntStatus != null">
                EntStatus,
            </if>
            <if test="EmptyShellContent != null">
                EmptyShellContent,
            </if>
            <if test="CreateTime != null">
                CreateTime,
            </if>
            <if test="UpdateTime != null">
                UpdateTime,
            </if>

        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="EntId != null">
                #{EntId},
            </if>
            <if test="EntName != null">
                #{EntName},
            </if>
            <if test="CreditCode != null">
                #{CreditCode},
            </if>
            <if test="RegNo != null">
                #{RegNo},
            </if>
            <if test="EntStatus != null">
                #{EntStatus},
            </if>
            <if test="EmptyShellContent != null">
                #{EmptyShellContent},
            </if>
            <if test="CreateTime != null">
                #{CreateTime},
            </if>
            <if test="UpdateTime != null">
                #{UpdateTime},
            </if>
        </trim>
    </insert>

    <insert id="addBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="Id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
        <include refid="BASE_TABLE"/>
        (EntId, EntName,CreditCode,RegNo,EntStatus,EmptyShellContent,CreateTime,UpdateTime)
        VALUES
        <foreach collection="entInfoList" item="entinfo" index="index" separator=",">
            (#{entinfo.EntId}, #{entinfo.EntName}, #{entinfo.CreditCode}, #{entinfo.RegNo}, #{entinfo.EntStatus},
            #{entinfo.EmptyShellContent}, #{entinfo.CreateTime} , #{entinfo.UpdateTime})
        </foreach>
    </insert>

    <update id="update" parameterType="com.icbc.ipa.shellent.model.Entinfo">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <trim>
                <if test="EntName != null">
                    EntName= #{EntName},
                </if>
                <if test="CreditCode != null">
                    CreditCode = #{CreditCode},
                </if>
                <if test="RegNo != null">
                    RegNo = #{RegNo},
                </if>
                <if test="EntStatus != null">
                    EntStatus = #{EntStatus},
                </if>
                <if test="EmptyShellContent != null">
                    EmptyShellContent = #{EmptyShellContent},
                </if>
                <if test="CreateTime != null">
                    CreateTime = #{CreateTime},
                </if>
                <if test="UpdateTime != null">
                    UpdateTime = #{UpdateTime},
                </if>
            </trim>
        </set>
        WHERE EntId = #{EntId}
    </update>

    <select id="findOne" resultType="com.icbc.ipa.shellent.model.Entinfo" parameterType="java.lang.String">
        select
        <include refid="BASE_COLUMN"/>
        from
        <include refid="BASE_TABLE"/>
        where EntId = #{EntId}
    </select>

    <delete id="delete" parameterType="com.icbc.ipa.shellent.model.Entinfo">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE EntId = #{EntId}
    </delete>

    <select id="isNull" resultType="Integer">
        select id from IDX_EMPTY_SHELL_TEMP_EntId limit 1
    </select>

    <update id="truncateTable">
        truncate table
        <include refid="BASE_TABLE"/>
    </update>

</mapper>